{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% block body %}

<!-- Profile main -->
<div class="container my-3 p-3 bg-body-tertiary border rounded-3 h-100 shadow">
    <div class="row g-4">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card h-100">
                <div class="card-header text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Welcome, {{ username }}</h5>
                    <p class="card-text">Manage movies you have added to watchlist or add movies if haven't already.</p>
                    <p class="card-text text-muted my-0">Movies: {{ num_of_movies }}</p>
                    <p class="card-text text-muted">Shows: {{ num_of_shows }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-danger text-center" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">Personal Information</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-text">Change your password</h6>
                    <div class="card-text">
                        <form class="form-horizontal" action="/change-password" method="post">
                            <div class="form-group mb-3">
                                <label class="control-label col-md-4 col-sm-4 mb-1" for="password">New Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control form-control-sm" id="password"
                                        name="password" placeholder="Enter new password">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label col-md-4 col-sm-4 mb-1" for="confirmation">Confirm
                                    Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control form-control-sm" id="confirmation"
                                        name="confirmation" placeholder="Enter password again">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-sm btn-outline-dark">Change Password</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Watchlist -->
<div class="container-fluid justify-content-evenly border bg-body-tertiary mx-auto my-3 row h-100 rounded-3 shadow">
    <div class="d-flex flex-row align-items-center mt-3">
        <p class="h5">Watchlist</p>
        <ul class="nav nav-tabs mx-2 w-100">
            <li class="nav-item">
              <button class="nav-link active" aria-current="page" id="movies-tab" onclick="switchTabs(this, '#movies-tab', '#shows-tab', '#movies-list', '#shows-list')">Movies</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="shows-tab" onclick="switchTabs(this, '#movies-tab', '#shows-tab', '#movies-list', '#shows-list')">Shows</button>
            </li>
        </ul>
    </div>

    <!-- Watchlist movies -->
    <div class="d-flex flex-row overflow-x-scroll" id="movies-list">
        {% for movie in movies_list %}
        <div class="my-4">
            <div class="card h-100 m-1 shadow my-card">
                <form action="/movie/{{ movie['id'] }}" method="get">
                    <input type="image" src="http://image.tmdb.org/t/p/w342/{{ movie['poster_path'] }}" class="card-img-top my-card-img"
                        alt="Poster">
                </form>
                <div class="card-body py-1">
                    <p class="card-text my-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold"
                            class="bi bi-star-fill" viewBox="0 2 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        {{ "%0.1f" | format(movie["vote_average"]) }}
                    </p>
                    <a class="card-title h6 text-decoration-none title" href="/movie/{{ movie['id'] }}">{{
                        movie["title"] }}</a>
                </div>
                <div class="add-movie-form form-hidden">
                    <p class="card-text text-center text-body-tertiary">Movie removed</p>
                </div>
                <form class="remove-movie-form">
                    <input type="hidden" name="movie_id" value="{{ movie['id'] }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm w-100">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Watchlist shows -->
    <div class="d-flex flex-row overflow-x-scroll visually-hidden" id="shows-list">
        {% for show in shows_list %}
        <div class="my-4">
            <div class="card h-100 m-1 shadow my-card">
                <form action="/show/{{ show['id'] }}" method="get">
                    <input type="image" src="http://image.tmdb.org/t/p/w342/{{ show['poster_path'] }}" class="card-img-top my-card-img"
                        alt="Poster">
                </form>
                <div class="card-body py-1">
                    <p class="card-text my-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold"
                            class="bi bi-star-fill" viewBox="0 2 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        {{ "%0.1f" | format(show["vote_average"]) }}
                    </p>
                    <a class="card-title h6 text-decoration-none title" href="/show/{{ show['id'] }}">{{
                        show["name"] }}</a>
                </div>
                <div class="add-show-form form-hidden">
                    <p class="card-text text-center text-body-tertiary">Show removed</p>
                </div>
                <form class="remove-show-form">
                    <input type="hidden" name="show_id" value="{{ show['id'] }}">
                    <button type="submit" class="btn btn-outline-danger btn-sm w-100">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}