.banner-img {
    object-fit: cover;
    object-position: top;
    height: 500px;
}

.form-hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .poster-img {
        display: none;
    }

    .banner-img {
        height: 250px;
    }
}