.banner-img {
    opacity: 1;
    object-fit: cover;
    object-position: top;
    height: 500px;
    transition: 0.2s all;
}

.form-hidden {
    display: none;
}

.form-hidden {
    display: none;
}

#search-result {
    opacity: 0;
    width: 100%;
    right: 0;
    top: 2.5rem;
    z-index: 2;
}

#search {
    width: 15rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: darkgrey;
}

@media screen and (max-width: 768px) {
    .poster-img {
        display: none;
    }

    .banner-img {
        height: 250px;
    }
}