.banner-img {
    opacity: 1;
    object-fit: cover;
    object-position: top;
    height: 500px;
    transition: 0.2s all;
}

.banner-img:hover {
    opacity: 0.9;
    filter: blur(1px);
}

.form-hidden {
    display: none;
}

.form-hidden {
    display: none;
}

#search-result {
    opacity: 0;
    width: 100%;
    right: 0;
    top: 2.5rem;
    z-index: 2;
}

#search {
    width: 15rem;
}

@media screen and (max-width: 768px) {
    .poster-img {
        display: none;
    }

    .banner-img {
        height: 250px;
    }
}