{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

<div class="container p-3 w-75 my-5 mx-auto bg-body-tertiary border rounded-3">
    <div class="my-3 text-center">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control mx-auto w-auto" id="username" placeholder="...">
    </div>
    <div class="mb-3 text-center">
        <label for="password" class="form-label">Password</label>
        <input type="email" class="form-control mx-auto w-auto" id="password" placeholder="...">
    </div>
    <div class="mb-3 text-center">
        <input type="submit" class="btn btn-success">
    </div>
</div>

{% endblock %}