{% extends "layout.html" %}

{% block title %} Movie {% endblock %}

{% block body %}

    <!-- Movie details -->
    <div class="container my-3 p-3 bg-body-tertiary border rounded-3">
        <div class="card mb-3 w-100">
            <div class="row g-0">
                <div class="col-12 col-md-8 col-lg-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ info["title"] }}</h5>
                        <div card="text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg> {{ "%0.1f" | format(info["vote_average"]) }}
                        </div>
                        <div class="card-text">
                            <ul class="list-group list-group-horizontal-sm">
                                {% for genre in info["genres"] %}
                                <li class="list-group-item list-group-item-light p-1"> {{ genre["name"] }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p class="card-text mt-3 mb-0"><small class="text-muted">Movie</small></p>
                        <p class="card-text my-0"><small class="text-muted">Runtime: {{ info["runtime"] }} minutes</small>
                        </p>
                        <p class="card-text my-0"><small class="text-muted">Release Date: {{ info["release_date"] }}</small>
                        </p>
                    </div>
                </div>
                <div class="col-7 col-md-4 col-lg-2">
                    <img src="http://image.tmdb.org/t/p/w500/{{ info['poster_path'] }}" class="poster-img w-100 rounded"
                        alt="...">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header p-0">
                <img src="http://image.tmdb.org/t/p/w1280/{{ info['backdrop_path'] }}" alt="Poster" class="card-img-top">
            </div>
            <div class="card-body">
                <div class="card-text">
                    <h5>Overview</h5>
                    <p>{{ info["overview"] }}</p>
                </div>
                <div>
                    {% if not is_added %}
                    <form action="/add-movie/{{ info['id'] }}" method="post">
                        <button class="btn btn-outline-dark" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg> Watchlist
                        </button>
                    </form>
                    {% else %}
                    <form action="/remove-movie/{{ info['id'] }}" method="post">
                        <button class="btn btn-outline-danger" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                            </svg> Remove
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Similar Movies -->
    <div class="container-fluid justify-content-evenly border bg-body-tertiary mx-auto my-3 row h-100 rounded-3">
        <p class="h5 mt-3">Similar movies</p>
        <div class="row g-3">
            {% for i in range(6) %}
            {% if similar_movies[i] %}
            <div class="col-6 col-md-4 col-lg-2 mb-3">
                <div class="card h-100 w-100">
                    <img src="http://image.tmdb.org/t/p/w500/{{ similar_movies[i]['poster_path'] }}" class="card-img-top"
                        alt="Poster">
                    <div class="card-body">
                        <a class="card-title h6 text-decoration-none" href="/movie/{{ similar_movies[i]['id'] }}">{{
                            similar_movies[i]["title"] }}</a>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow"
                                class="bi bi-star-fill" viewBox="0 2 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            {{ "%0.1f" | format(similar_movies[i]["vote_average"]) }}
                        </p>
                        {% if similar_movies[i]["id"] not in added %}
                        <form action="/add-movie/{{ similar_movies[i]['id'] }}" method="post">
                            <button type="submit" class="btn btn-outline-dark btn-sm">Watchlist</button>
                        </form>
                        {% else %}
                        <form action="/remove-movie/{{ similar_movies[i]['id'] }}" method="post">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}